appdirs==1.4.4
argon2-cffi==20.1.0
astropy==4.3.1
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
bleach==4.0.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
chumpy==0.70
colorama==0.4.4
cycler==0.10.0
decorator==5.0.9
defusedxml==0.7.1
dlib==19.22.1
entrypoints==0.3
fvcore
idna==3.2
imageio==2.9.0
importlib-metadata==3.10.0
iopath==0.1.9
ipdb==0.13.9
ipykernel==5.3.4
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
kornia==0.5.10
llvmlite==0.37.0
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
notebook==6.4.2
numpy
olefile==0.46
opencv-python==4.5.3.56
packaging==21.0
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pip==21.3.1
plotly==5.2.1
pooch==1.5.2
portalocker==2.3.0
prometheus-client==0.11.0
prompt-toolkit==3.0.17
ptyprocess==0.7.0
pycparser==2.20
pyerfa==2.0.0
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
pyshtools==4.9.1
python-dateutil==2.8.2
pytorch3d
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.2.1
qtconsole==5.1.0
QtPy==1.9.0
requests==2.26.0
scikit-image==0.18.2
scipy==1.5.2
setuptools==52.0.0
six==1.16.0
torch==1.7.1
torchfile==0.1.0
torchvision==0.8.2
tornado==6.1
tqdm==4.62.0
